


    <div class="container-fluid container-md">

      <!--tips as stories-->
      <ngx-glide *ngIf="lastestTips?.length; else loadingLastestTips" #ngxGlide type='carousel' [gap]='30' [perView]="4"
        [autoplay]="false" [showArrows]="showArrows" [showBullets]="false" [hoverpause]="true" [keyboard]="true"
        [arrowLeftTemplate]="leftBtn2" [arrowRightTemplate]="rightBtn2" [breakpoints]="breakpointsTips" [type]="'slider'">
        <ng-container *ngFor="let tip of lastestTips">
          <div class="card card-background cursor-pointer height-250" (click)="opencarrusel(tip.id)">
           
            <div class="card-body pt-12 w-100">
              <h4 class="text-black text-decoration-underline-hover text-center text-wrap">{{ tip.name }}</h4>
              <p class="lead text-center text-wrap">{{ tip.username }}</p>
            </div>
          </div>
        </ng-container>
      </ngx-glide>
    
    
      <ng-template #leftBtn2>
        <button type="button" class="position-absolute top-50 start-0 btn btn-white btn-lg btn-icon-only rounded-circle">
          <i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i>
        </button>
      </ng-template>
      <ng-template #rightBtn2>
        <button type="button" class="position-absolute top-50 end-0 btn btn-white btn-lg btn-icon-only rounded-circle">
          <i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
        </button>
      </ng-template>
    
    
      <div class="row my-4" *ngIf="lastestTips?.length;">
        <div class="col-12 text-center">
          <a class="btn btn-primary btn-lg w-100 w-md-auto" routerLink="tips" role="button">Ver más</a>
        </div>
      </div>
    
      <ng-template #loadingLastestTips>
        <div class="row justify-content-center">
          <div class="col-3 col-md-2">
            <ng-lottie class="w-40" [options]="{path: '/assets/lottie/propuestas/searching2.json', loop: true}">
            </ng-lottie>
          </div>
        </div>
      </ng-template>
    </div>
  
  <br>
 
<h1>Paginador</h1>
<br>
  <div class="row mb-4" >
     

    <div class="col-12 col-lg-8">
  
      <!--   
              <app-posts-form type="post" (newPost)="newPost($event)" *ngIf="user?.community_access?.status != 'banned'">
              </app-posts-form> -->
       
              <app-paginator endpoint="post"  classContent="row" [pageSize]="12"
      [canScrollTo]="false">
      <ng-template let-item>
  
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card cursor-pointer mb-3" [routerLink]="item.id">
            <div  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" class="card-body" (click)="openmodal(item.id)" >
  
              <h4>{{ item.title }}</h4>
            </div>
          </div>
        </div>
    
<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Comentarios</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="recargarcarrusel()"></button>
      </div>
      <div *ngFor="let comm of lastcomment" class="modal-body">
      <h1>{{comm.name}}</h1> 
      <h2>{{comm.email}}</h2>
       <p>{{comm.body}}</p>
      </div>
    </div>
  </div>
</div>
      </ng-template>
    </app-paginator>
            </div>
          </div>


          
  <!--info modal -->

    


