<div [class]="classContent"  #content>
  <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit: item, idx: i}"
    *ngFor="let item of info; let i = index">
  </ng-template>

  <div class="row justify-content-center" *ngIf="!info?.length && !isLoading">
    <div class="col-12 col-lg-6">
      <ng-lottie class="w-40 mx-auto d-block"
        [options]="{path: '/assets/lottie/propuestas/notfound4.json', loop: true}"></ng-lottie>
      <h2 class="text-info text-center">No hemos encontrado información...</h2>
    </div>
  </div>

  <!-- <div class="row justify-content-center" *ngIf="isLoading">
    <div class="col-12 col-md-5">
      <ng-lottie class="w-40" [options]="{path: '/assets/lottie/propuestas/focus_1.json', loop: true}"
        *ngIf="area=='focus'">
      </ng-lottie>
      <ng-lottie class="w-40" [options]="{path: '/assets/lottie/propuestas/training_1.json', loop: true}"
        *ngIf="area=='training'">
      </ng-lottie>
      <ng-lottie class="w-40" [options]="{path: '/assets/lottie/finding_recipe.json', loop: true}"
        *ngIf="area=='nutrition'">
      </ng-lottie>
      <ng-lottie class="w-30" [options]="{path: '/assets/lottie/propuestas/searching2.json', loop: true}"
        *ngIf="!area || area=='posts'">
      </ng-lottie>
    </div>
  </div> -->
</div>

<!-- <nav class="mt-3" aria-label="Page navigation" *ngIf="showPagination">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <button type="button" (click)="previous()" class="page-link" [disabled]="!info?.previous" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="visually-hidden">Previous</span>
      </button>
    </li>
    <li class="page-item" *ngFor="let item of pagesItems" [class.active]="page == item">
      <button type="button" class="page-link" (click)="goTo(item)">
        {{ item }}
      </button>
    </li>
    <li class="page-item">
      <button type="button" (click)="next()" [disabled]="!info?" class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="visually-hidden">Next</span>
      </button>
    </li>
  </ul>
</nav> -->
