<div class="container-fluid container-md">

    <!--tips as stories-->
    <ngx-glide *ngIf="lastestTips?.length; else loadingLastestTips" #ngxGlide type='carousel' [gap]='30' [perView]="4"
      [autoplay]="false" [showArrows]="showArrows" [showBullets]="false" [hoverpause]="true" [keyboard]="true"
      [arrowLeftTemplate]="leftBtn2" [arrowRightTemplate]="rightBtn2" [breakpoints]="breakpointsTips" [type]="'slider'">
      <ng-container *ngFor="let tip of lastestTips">
        <div class="card card-background cursor-pointer height-250" (click)="openTipsModal(tip)"> 
      
          <div class="card-body pt-12 w-100">
            <h4 class="text-black text-decoration-underline-hover text-center text-wrap">{{ tip.title }}</h4>
            <p class="lead text-center text-wrap">{{ tip.username }}</p>
          </div>
        </div>
      </ng-container>
    </ngx-glide>
  
  
    <ng-template #leftBtn2>
      <button type="button" class="position-absolute top-50 start-0 btn btn-white btn-lg btn-icon-only rounded-circle">
        <i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i>
      </button>
    </ng-template>
    <ng-template #rightBtn2>
      <button type="button" class="position-absolute top-50 end-0 btn btn-white btn-lg btn-icon-only rounded-circle">
        <i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
      </button>
    </ng-template>
  
  
    <div class="row my-4" *ngIf="lastestTips?.length;">
      <div class="col-12 text-center">
        <a class="btn btn-primary btn-lg w-100 w-md-auto" routerLink="tips" role="button">Ver más</a>
      </div>
    </div>
  
    <ng-template #loadingLastestTips>
      <div class="row justify-content-center">
        <div class="col-3 col-md-2">
          <ng-lottie class="w-40" [options]="{path: '/assets/lottie/propuestas/searching2.json', loop: true}">
          </ng-lottie>
        </div>
      </div>
    </ng-template>
  </div>