<form class="login100-form" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="registropost()">                
    <span class="login100-form-title p-b-49">
        Agregar nuevo post
    </span>

    <div class="wrap-input100">
        <span class="label-input100">Title</span>
        <input class="input100"
               type="text"
               formControlName="title" 
               placeholder="Ingrese tu titulo">
        <span class="focus-input100"></span>
    </div>
    <div class="wrap-input100">
        <span class="label-input100">body</span>
        <input class="input100"
               type="text"
               formControlName="body" 
               placeholder="Ingrese tu body">
        <span class="focus-input100"></span>
    </div>
    
    <div class="text-right p-t-8 p-b-31"></div>
    
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit" [disabled]="miFormulario.invalid">
                Registrar
            </button>
        </div>
    </div>

    <div class="flex-col-c p-t-60">
        <span class="txt1 p-b-17" routerLink="/auth/login">
            ¿Ya tienes cuenta?
        </span>

        <a routerLink="/auth/registro" class="txt2">
            Crear una aquí
        </a>
    </div>
</form>