.dropdown-toggle:after {
    font: normal normal normal 14px/1 FontAwesome;
    border-right: none;
    border-top: none;
    content: "\f141";
  }
  
  .white-space-pre-wrap {
    white-space: pre-wrap;
  }
  