<div class="card mb-3"  [class.cursor-pointer]="showGoToDetails" >
  
    <div class="card-body">
      <div class="card-description mb-4 text-dark white-space-pre-wrap">
        <span >
        </span>
        <span class="text-primary cursor-pointer" *ngIf="post?.description.length>200"
          (click)="post.showmore= !post.showmore">
          {{post?.showmore? 'Ver menos': '...Ver más'}}
        </span>
      </div>
       
      </div>
      
  
    
    
  </div>
  