/* You can add global styles to this file, and also import other style files */
.swal2-container,
.modal-backdrop {
  z-index: 9999 !important;
}

.modal {
  z-index: 99999 !important;
}

.iframe-container {
  position: relative;
  min-height: 300px;
  max-height: 100vh;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  video {
    max-width: 100%;
    height: 100%;
  }

  &.iframe-container--video {
    height: 45vh;
  }

  &.iframe-container--pdf {
    height: 750px;
  }

}

[appQuill] {
  height: 200px !important;
}

.dark-version {
  .card {

    .ql-editor {
      * {
        color: black !important;
      }
    }
  }

  .navbar {
    &.navbar-light {
      * {
        color: #344767 !important;
      }
    }
  }
}

.disabled {
  cursor: not-allowed !important;
  pointer-events: none;
}

.navbar-vertical {
  &.navbar-expand-xs {
    overflow-y: hidden !important;
  }
}

.choices__list--dropdown {
  z-index: 9;
}

.dark-version .modal-content {
  background-color: #111322;
}

.item-section {

  &::after {
    transition: all .75s ease-in-out;
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: var(--bs-primary);
    transform: translateX(-50%);
    left: 50%;
    bottom: -9px;
  }

  &.active,
  &:hover {
    &::after {
      width: 90%;
    }
  }

}

.academy-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 350px));
  gap: 1.5rem;
  justify-content: center;

  &>* {
    height: 450px;
  }
}

.user-star {
  position: absolute;
  bottom: -.5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.transform-translate-xy50 {
  transform: translate(-50%, -50%);
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-img-top {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

}

.page-header.header-responsive {
  min-height: 45vh;
}

@media (min-width: 576px) {
  .page-header.header-responsive {
    min-height: 55vh;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .page-header.header-responsive {
    min-height: 65vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .page-header.header-responsive {
    min-height: 75vh;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .page-header.header-responsive {
    min-height: 80vh;
  }
}


.focus-section-items {
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
}

.emoji-mart {
  z-index: 3 !important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

label[for] {
  cursor: pointer;
}

.choices__input {
  width: 1ch;
}

.bg-dark-opacity {
  background-color: #34476785;
}

.transform-scale-25 {
  transform: scale(2.5);
}

.transform-scale-20 {
  transform: scale(2);
}

.transform-scale-15 {
  transform: scale(1.5);
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 1em !important;
}

.bg-position-center {
  background-position: center;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis
}
