<nav #navbar
  class="navbar bg-dark navbar-dark navbar-expand-lg position-sticky top-0 z-index-sticky w-100 shadow-none py-2 start-0 end-0"
  id="navbarPresentationShadow">
  <div class="container pt-1">
    <span class="cursor-pointer d-lg-none font-weight-bolder" >
      <i class="fa fa-2x" 
        aria-hidden="true"></i>
    </span>

  

    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
      <ul class="navbar-nav navbar-nav-hover mx-auto">

        <li class="nav-item mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button"
            routerLink="/home" routerLinkActive="border-bottom border-2">
            <span class="text-bolder">Home</span>
          </a>
        </li>

        <li class="nav-item mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button"
            routerLink="/dashboard" routerLinkActive="border-bottom border-2">
            <span class="text-bolder">Dashboard</span>
          </a>
        </li>

        <li class="nav-item mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button"
            routerLink="/auth/registro-post" routerLinkActive="border-bottom border-2">
            <span class="text-bolder">Registro</span>
          </a>
        </li>

        <li class="nav-item mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button"
            routerLink="/auth/actualizar" routerLinkActive="border-bottom border-2">
            <span class="text-bolder">Actualizar</span>
          </a>
        </li>
 
        <li class="nav-item mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button"
            routerLink="/auth" routerLinkActive="border-bottom border-2">
            <span class="text-bolder"> Logout<i class="fa fa-search"></i></span>
          </a>
        </li>
      </ul>
   
    </div>



  

 

  </div>
</nav>
